.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #303f9f;
  height: 70px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 2.5em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-textarea {
  width: 700px;
  height: 100px;
}

.main-info {
  margin: 10px;
  padding: 10px;
  border: 1px black solid;
}