.open-drawer {
    margin-bottom: 15px;
    color: rgb(20, 20, 20);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.close-drawer {
    margin-bottom: 15px;
    color: rgb(20, 20, 20);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}