.list-title-badge {
  font-size: 0.7em;
  float: right;
  margin-top: 6px;
}

.title-group {
  text-align: left;
}

.title-group label {
  color: rgb(34, 34, 34);
  font-size: 0.6em;
}

.font-awesome-img-title {
  padding-top: 7px;
  margin-right: 15px;
  font-size: 1.3em;
}

.title-group-left {
  float: left;
}

.title-group-center {
  float: center;
}

.title-group-right {
  float: right;
}